/*! Bitz v0.1 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
.bg-color,
[class*=bg-color-] {
  color: var(--fg, CanvasText);
  background-color: var(--bg);
}

.bg-color-light {
  color-scheme: light;
  --bg: var(--background, Canvas);
}

.bg-color-dark {
  color-scheme: dark;
  --bg: var(--background, Canvas);
}

.bg-gradient-1 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.175), rgba(255, 255, 255, 0));
}

.bg-gradient-2 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.225), rgba(255, 255, 255, 0));
}

.bg-gradient-3 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0));
}

.ratio,
.child-ratio *:not(figcaption) {
  aspect-ratio: var(--ratio);
}

.ratio-1x1,
.child-ratio-1x1 *:not(figcaption) {
  aspect-ratio: 1/1;
}

.ratio-16x9,
.child-ratio-16x9 *:not(figcaption) {
  aspect-ratio: 16/9;
}

.ratio-5x2,
.child-ratio-5x2 *:not(figcaption) {
  aspect-ratio: 5/2;
}

.ratio-4x1,
.child-ratio-4x1 *:not(figcaption) {
  aspect-ratio: 4/1;
}

.ratio-3x4,
.child-ratio-3x4 *:not(figcaption) {
  aspect-ratio: 3/4;
}

.object-contain,
.child-object-contain * {
  object-fit: contain;
}

.object-cover,
.child-object-cover * {
  object-fit: cover;
}

.object-fill,
.child-object-fill * {
  object-fit: fill;
}

.object-scale,
.child-object-scale * {
  object-fit: scale-down;
}

.ul-none, .ol-none, .ul-inline, .ol-inline, .list-comma, .list-divider {
  list-style-type: "";
  padding-inline-start: 0;
}

.ul-inline, .ol-inline, .list-comma, .list-divider, .dl-comma, .dl-comma-inline, .dd-inline {
  display: flex;
  flex-wrap: wrap;
}

.ul-inline, .ol-inline, .dd-inline {
  column-gap: var(--gap, 0.75rem);
}

.list-comma {
  column-gap: var(--gap, 0.375rem);
  *:not(:last-child):after {
    content: ",";
  }
}

.list-divider {
  *:not(:first-child) {
    padding-inline-start: var(--gap, 0.5rem);
  }
  *:not(:last-child):after {
    content: var(--divider, "|");
    padding-inline-start: var(--gap, 0.5rem);
  }
}

:is(.dl-none, .dl-meta, .dl-comma, .dl-comma-inline, .dd-inline) dd {
  margin-inline-start: 0;
}

.dt-bold {
  dt {
    font-weight: var(--dt-bold, bold);
  }
  :is(.dl-meta, .dl-comma-inline) dt:after {
    font-weight: 400;
  }
}

.dl-meta {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 1fr);
  column-gap: var(--gap, 0.75rem);
}

.dl-comma-inline dt {
  margin-inline-end: var(--dt-me, 0.5rem);
}

:is(.dl-meta, .dl-comma-inline) dt:after {
  font-weight: 400;
  content: var(--dt-colon, ":");
}

.dl-comma, .dd-inline {
  dt {
    inline-size: 100%;
  }
  dt:not(:first-child) {
    margin-block-start: var(--dt-mt, 0.25rem);
  }
}

.dl-comma, .dl-comma-inline {
  dd:not(:last-child):after {
    content: var(--content, ",");
    padding-inline-end: var(--gap, 0.5rem);
  }
  dd:not(:last-child):has(+ dt):after {
    content: "";
  }
}

.font-family, .font-family * {
  font-family: var(--ff);
}

.font-size, .font-size * {
  font-size: var(--fs);
}

.font-weight, .font-weight * {
  font-weight: var(--fw);
}

.font-variant {
  font-variant: var(--fv);
}

.line-height, .line-height * {
  line-height: var(--lh);
}

.text-spacing, .text-spacing * {
  letter-spacing: var(--ls);
  word-spacing: var(--ws);
}

.text-transform, .text-transform * {
  text-transform: var(--tt);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-balance {
  text-wrap: balance;
}

.text-pretty {
  text-wrap: pretty;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.decoration-none, .decoration-none * {
  text-decoration: none;
}

.text-link, .text-link * {
  color: CanvasText;
  text-decoration-color: CanvasText;
}

.box-shadow-1 {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.box-shadow-2 {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

.box-shadow-3 {
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15);
}

.box-shadow-4 {
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.175);
}

.text-shadow-1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

.text-shadow-2 {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.text-shadow-3 {
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}

.text-shadow-4 {
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.bd,
[class*=bd-] {
  border-width: var(--bd-width, 1px);
  border-color: var(--bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
}

.bd {
  border-style: var(--bd-style, solid);
}

.bd-none {
  border-style: none;
}

.bd-t {
  border-block-start-style: var(--bd-style, solid);
}

.bd-t-none {
  border-block-start-style: none;
}

.bd-b {
  border-block-end-style: var(--bd-style, solid);
}

.bd-b-none {
  border-block-end-style: none;
}

.bd-y {
  border-block-style: var(--bd-style, solid);
}

.bd-y-none {
  border-block-style: none;
}

.bd-x {
  border-inline-style: var(--bd-style, solid);
}

.bd-x-none {
  border-inline-style: none;
}

.bd-s {
  border-inline-start-style: var(--bd-style, solid);
}

.bd-s-none {
  border-inline-start-style: none;
}

.bd-e {
  border-inline-end-style: var(--bd-style, solid);
}

.bd-e-none {
  border-inline-end-style: none;
}

@media (width <= 1440px) {
  .bd-xl {
    border-style: var(--bd-style, solid);
  }
  .bd-none-xl {
    border-style: none;
  }
  .bd-t-xl {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none-xl {
    border-block-start-style: none;
  }
  .bd-b-xl {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none-xl {
    border-block-end-style: none;
  }
  .bd-y-xl {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none-xl {
    border-block-style: none;
  }
  .bd-x-xl {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none-xl {
    border-inline-style: none;
  }
  .bd-s-xl {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none-xl {
    border-inline-start-style: none;
  }
  .bd-e-xl {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none-xl {
    border-inline-end-style: none;
  }
}
@media (width <= 1280px) {
  .bd-lg {
    border-style: var(--bd-style, solid);
  }
  .bd-none-lg {
    border-style: none;
  }
  .bd-t-lg {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none-lg {
    border-block-start-style: none;
  }
  .bd-b-lg {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none-lg {
    border-block-end-style: none;
  }
  .bd-y-lg {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none-lg {
    border-block-style: none;
  }
  .bd-x-lg {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none-lg {
    border-inline-style: none;
  }
  .bd-s-lg {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none-lg {
    border-inline-start-style: none;
  }
  .bd-e-lg {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none-lg {
    border-inline-end-style: none;
  }
}
@media (width <= 1024px) {
  .bd-md {
    border-style: var(--bd-style, solid);
  }
  .bd-none-md {
    border-style: none;
  }
  .bd-t-md {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none-md {
    border-block-start-style: none;
  }
  .bd-b-md {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none-md {
    border-block-end-style: none;
  }
  .bd-y-md {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none-md {
    border-block-style: none;
  }
  .bd-x-md {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none-md {
    border-inline-style: none;
  }
  .bd-s-md {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none-md {
    border-inline-start-style: none;
  }
  .bd-e-md {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none-md {
    border-inline-end-style: none;
  }
}
@media (width <= 768px) {
  .bd-sm {
    border-style: var(--bd-style, solid);
  }
  .bd-none-sm {
    border-style: none;
  }
  .bd-t-sm {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none-sm {
    border-block-start-style: none;
  }
  .bd-b-sm {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none-sm {
    border-block-end-style: none;
  }
  .bd-y-sm {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none-sm {
    border-block-style: none;
  }
  .bd-x-sm {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none-sm {
    border-inline-style: none;
  }
  .bd-s-sm {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none-sm {
    border-inline-start-style: none;
  }
  .bd-e-sm {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none-sm {
    border-inline-end-style: none;
  }
}
@media (width <= 480px) {
  .bd-xs {
    border-style: var(--bd-style, solid);
  }
  .bd-none-xs {
    border-style: none;
  }
  .bd-t-xs {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none-xs {
    border-block-start-style: none;
  }
  .bd-b-xs {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none-xs {
    border-block-end-style: none;
  }
  .bd-y-xs {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none-xs {
    border-block-style: none;
  }
  .bd-x-xs {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none-xs {
    border-inline-style: none;
  }
  .bd-s-xs {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none-xs {
    border-inline-start-style: none;
  }
  .bd-e-xs {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none-xs {
    border-inline-end-style: none;
  }
}