/*! Bitz v0.2.0 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
@layer utilities {
  .bd,
  [class*=bd-] {
    border-width: var(--bd-width, 1px);
    border-color: var(--bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  }
  .bd {
    border-style: var(--bd-style, solid);
  }
  .bd-none {
    border-style: none;
  }
  .bd-t {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none {
    border-block-start-style: none;
  }
  .bd-b {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none {
    border-block-end-style: none;
  }
  .bd-y {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none {
    border-block-style: none;
  }
  .bd-x {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none {
    border-inline-style: none;
  }
  .bd-s {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none {
    border-inline-start-style: none;
  }
  .bd-e {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none {
    border-inline-end-style: none;
  }
  .rd,
  [class*=rd-] {
    border-start-start-radius: var(--rd-top-l);
    border-start-end-radius: var(--rd-top-r);
    border-end-start-radius: var(--rd-bottom-l);
    border-end-end-radius: var(--rd-bottom-r);
  }
  .rd-1 {
    border-radius: 0.188rem;
  }
  .rd-1-top {
    --rd-top-l: 0.188rem;
    --rd-top-r: 0.188rem;
  }
  .rd-1-bottom {
    --rd-bottom-l: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-1-start {
    --rd-top-l: 0.188rem;
    --rd-bottom-l: 0.188rem;
  }
  .rd-1-end {
    --rd-top-r: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-2 {
    border-radius: 0.375rem;
  }
  .rd-2-top {
    --rd-top-l: 0.375rem;
    --rd-top-r: 0.375rem;
  }
  .rd-2-bottom {
    --rd-bottom-l: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-2-start {
    --rd-top-l: 0.375rem;
    --rd-bottom-l: 0.375rem;
  }
  .rd-2-end {
    --rd-top-r: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-3 {
    border-radius: 0.5rem;
  }
  .rd-3-top {
    --rd-top-l: 0.5rem;
    --rd-top-r: 0.5rem;
  }
  .rd-3-bottom {
    --rd-bottom-l: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-3-start {
    --rd-top-l: 0.5rem;
    --rd-bottom-l: 0.5rem;
  }
  .rd-3-end {
    --rd-top-r: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-4 {
    border-radius: 0.75rem;
  }
  .rd-4-top {
    --rd-top-l: 0.75rem;
    --rd-top-r: 0.75rem;
  }
  .rd-4-bottom {
    --rd-bottom-l: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-4-start {
    --rd-top-l: 0.75rem;
    --rd-bottom-l: 0.75rem;
  }
  .rd-4-end {
    --rd-top-r: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-5 {
    border-radius: 1rem;
  }
  .rd-5-top {
    --rd-top-l: 1rem;
    --rd-top-r: 1rem;
  }
  .rd-5-bottom {
    --rd-bottom-l: 1rem;
    --rd-bottom-r: 1rem;
  }
  .rd-5-start {
    --rd-top-l: 1rem;
    --rd-bottom-l: 1rem;
  }
  .rd-5-end {
    --rd-top-r: 1rem;
    --rd-bottom-r: 1rem;
  }
}