/*! Bitz v0.2.0 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
@layer utilities {
  .font-family, .font-family * {
    font-family: var(--ff);
  }
  .font-size, .font-size * {
    font-size: var(--fs);
  }
  .font-weight, .font-weight * {
    font-weight: var(--fw);
  }
  .font-variant {
    font-variant: var(--fv);
  }
  .line-height, .line-height * {
    line-height: var(--lh);
  }
  .text-spacing, .text-spacing * {
    letter-spacing: var(--ls);
    word-spacing: var(--ws);
  }
  .text-transform, .text-transform * {
    text-transform: var(--tt);
  }
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .text-balance {
    text-wrap: balance;
  }
  .text-pretty {
    text-wrap: pretty;
  }
  .text-white {
    color: #fff;
  }
  .text-black {
    color: #000;
  }
  .decoration-none, .decoration-none * {
    text-decoration: none;
  }
  .text-link, .text-link * {
    color: CanvasText;
    text-decoration-color: CanvasText;
  }
}