/*! Bitz v0.1.0 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
.box-shadow-1 {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.box-shadow-2 {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

.box-shadow-3 {
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15);
}

.box-shadow-4 {
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.175);
}

.text-shadow-1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

.text-shadow-2 {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.text-shadow-3 {
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}

.text-shadow-4 {
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}