.bg-color,
[class*=bg-color-] {
  color: var(--fg, CanvasText);
  background-color: var(--bg);
}

.bg-color-light {
  color-scheme: light;
  --bg: var(--background, Canvas);
}

.bg-color-dark {
  color-scheme: dark;
  --bg: var(--background, Canvas);
}

.bg-gradient-1 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .175), rgba(255, 255, 255, 0));
}

.bg-gradient-2 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .225), rgba(255, 255, 255, 0));
}

.bg-gradient-3 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .33), rgba(255, 255, 255, 0));
}
