/*! Bitz v0.1 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
.container,
[class*=container-] {
  inline-size: 100%;
  max-inline-size: var(--size);
  margin-inline: var(--mx, auto);
  padding-inline: var(--px);
}

.container-xl {
  --size: 1440px;
}

.container-lg {
  --size: 1280px;
}

.container-md {
  --size: 1024px;
}

.container-sm {
  --size: 768px;
}

.container-xs {
  --size: 480px;
}

.container-rem-xl {
  --size: 100rem;
}

.container-rem-lg {
  --size: 80rem;
}

.container-rem-md {
  --size: 64rem;
}

.container-rem-sm {
  --size: 48rem;
}

.container-rem-xs {
  --size: 30rem;
}