/*! Bitz v0.1 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
.columns {
  columns: var(--cols);
}

.columns-1 {
  columns: 1;
}

.columns-2 {
  columns: 2;
}

.columns-3 {
  columns: 3;
}

.columns-4 {
  columns: 4;
}

.columns-5 {
  columns: 5;
}

.columns-6 {
  columns: 6;
}

@media (width <= 1440px) {
  .columns-1-xl {
    columns: 1;
  }
  .columns-2-xl {
    columns: 2;
  }
  .columns-3-xl {
    columns: 3;
  }
  .columns-4-xl {
    columns: 4;
  }
  .columns-5-xl {
    columns: 5;
  }
  .columns-6-xl {
    columns: 6;
  }
}
@media (width <= 1280px) {
  .columns-1-lg {
    columns: 1;
  }
  .columns-2-lg {
    columns: 2;
  }
  .columns-3-lg {
    columns: 3;
  }
  .columns-4-lg {
    columns: 4;
  }
  .columns-5-lg {
    columns: 5;
  }
  .columns-6-lg {
    columns: 6;
  }
}
@media (width <= 1024px) {
  .columns-1-md {
    columns: 1;
  }
  .columns-2-md {
    columns: 2;
  }
  .columns-3-md {
    columns: 3;
  }
  .columns-4-md {
    columns: 4;
  }
  .columns-5-md {
    columns: 5;
  }
  .columns-6-md {
    columns: 6;
  }
}
@media (width <= 768px) {
  .columns-1-sm {
    columns: 1;
  }
  .columns-2-sm {
    columns: 2;
  }
  .columns-3-sm {
    columns: 3;
  }
  .columns-4-sm {
    columns: 4;
  }
  .columns-5-sm {
    columns: 5;
  }
  .columns-6-sm {
    columns: 6;
  }
}
@media (width <= 480px) {
  .columns-1-xs {
    columns: 1;
  }
  .columns-2-xs {
    columns: 2;
  }
  .columns-3-xs {
    columns: 3;
  }
  .columns-4-xs {
    columns: 4;
  }
  .columns-5-xs {
    columns: 5;
  }
  .columns-6-xs {
    columns: 6;
  }
}