/*! Bitz v0.1 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
:where(table) {
  color: var(--table-text, var(--text, CanvasText));
  font-variant-numeric: tabular-nums;
  inline-size: 100%;
  margin-block-end: var(--table-mb, 1rem);
  border-collapse: collapse;
  background-color: var(--table-bg, var(--background, Canvas));
  caption, th {
    text-align: inherit;
  }
  caption {
    color: var(--caption-text, var(--text, CanvasText));
    font-size: var(--caption-fs, 0.938rem);
    font-weight: var(--caption-fw, 500);
    padding-block: var(--table-py, 0.35rem);
    padding-inline: var(--table-px, 0.75rem);
    background-color: var(--caption-bg, var(--background, Canvas));
    border: var(--table-bd-width, var(--border-width, 1px)) solid var(--table-bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
    border-block-end: none;
  }
  th {
    color: var(--th-text, var(--text, CanvasText));
    background-color: var(--th-bg, color-mix(in srgb, CanvasText 4%, var(--background, Canvas)));
  }
  thead, tbody, tfoot, tr, td, th {
    vertical-align: top;
    border: var(--table-bd-width, var(--border-width, 1px)) solid var(--table-bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  }
  th, td {
    padding-block: var(--table-py, 0.4rem);
    padding-inline: var(--table-px, 0.75rem);
  }
  :is(.table-striped tr, .table-combo tr):nth-child(even) {
    background-color: var(--table-stripes, color-mix(in srgb, CanvasText 1%, var(--background, Canvas)));
  }
  :is(.table-hover tbody tr, .table-combo tbody tr):hover {
    background-color: var(--table-hover, color-mix(in srgb, CanvasText 2%, var(--background, Canvas)));
  }
}

:where(.table-wrap) {
  overflow-x: auto;
  margin-block-end: 1rem;
  table {
    margin-block-end: 0;
  }
}