/*! Bitz v0.1 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
.bd,
[class*=bd-] {
  border-width: var(--bd-width, 1px);
  border-color: var(--bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
}

.bd {
  border-style: var(--bd-style, solid);
}

.bd-none {
  border-style: none;
}

.bd-t {
  border-block-start-style: var(--bd-style, solid);
}

.bd-t-none {
  border-block-start-style: none;
}

.bd-b {
  border-block-end-style: var(--bd-style, solid);
}

.bd-b-none {
  border-block-end-style: none;
}

.bd-y {
  border-block-style: var(--bd-style, solid);
}

.bd-y-none {
  border-block-style: none;
}

.bd-x {
  border-inline-style: var(--bd-style, solid);
}

.bd-x-none {
  border-inline-style: none;
}

.bd-s {
  border-inline-start-style: var(--bd-style, solid);
}

.bd-s-none {
  border-inline-start-style: none;
}

.bd-e {
  border-inline-end-style: var(--bd-style, solid);
}

.bd-e-none {
  border-inline-end-style: none;
}

.rd,
[class*=rd-] {
  border-start-start-radius: var(--rd-top-l);
  border-start-end-radius: var(--rd-top-r);
  border-end-start-radius: var(--rd-bottom-l);
  border-end-end-radius: var(--rd-bottom-r);
}

.rd-1 {
  border-radius: 0.188rem;
}

.rd-1-top {
  --rd-top-l: 0.188rem;
  --rd-top-r: 0.188rem;
}

.rd-1-bottom {
  --rd-bottom-l: 0.188rem;
  --rd-bottom-r: 0.188rem;
}

.rd-1-start {
  --rd-top-l: 0.188rem;
  --rd-bottom-l: 0.188rem;
}

.rd-1-end {
  --rd-top-r: 0.188rem;
  --rd-bottom-r: 0.188rem;
}

.rd-2 {
  border-radius: 0.375rem;
}

.rd-2-top {
  --rd-top-l: 0.375rem;
  --rd-top-r: 0.375rem;
}

.rd-2-bottom {
  --rd-bottom-l: 0.375rem;
  --rd-bottom-r: 0.375rem;
}

.rd-2-start {
  --rd-top-l: 0.375rem;
  --rd-bottom-l: 0.375rem;
}

.rd-2-end {
  --rd-top-r: 0.375rem;
  --rd-bottom-r: 0.375rem;
}

.rd-3 {
  border-radius: 0.5rem;
}

.rd-3-top {
  --rd-top-l: 0.5rem;
  --rd-top-r: 0.5rem;
}

.rd-3-bottom {
  --rd-bottom-l: 0.5rem;
  --rd-bottom-r: 0.5rem;
}

.rd-3-start {
  --rd-top-l: 0.5rem;
  --rd-bottom-l: 0.5rem;
}

.rd-3-end {
  --rd-top-r: 0.5rem;
  --rd-bottom-r: 0.5rem;
}

.rd-4 {
  border-radius: 0.75rem;
}

.rd-4-top {
  --rd-top-l: 0.75rem;
  --rd-top-r: 0.75rem;
}

.rd-4-bottom {
  --rd-bottom-l: 0.75rem;
  --rd-bottom-r: 0.75rem;
}

.rd-4-start {
  --rd-top-l: 0.75rem;
  --rd-bottom-l: 0.75rem;
}

.rd-4-end {
  --rd-top-r: 0.75rem;
  --rd-bottom-r: 0.75rem;
}

.rd-5 {
  border-radius: 1rem;
}

.rd-5-top {
  --rd-top-l: 1rem;
  --rd-top-r: 1rem;
}

.rd-5-bottom {
  --rd-bottom-l: 1rem;
  --rd-bottom-r: 1rem;
}

.rd-5-start {
  --rd-top-l: 1rem;
  --rd-bottom-l: 1rem;
}

.rd-5-end {
  --rd-top-r: 1rem;
  --rd-bottom-r: 1rem;
}

@media (width <= 1440px) {
  .bd-xl {
    border-style: var(--bd-style, solid);
  }
  .bd-none-xl {
    border-style: none;
  }
  .bd-t-xl {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none-xl {
    border-block-start-style: none;
  }
  .bd-b-xl {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none-xl {
    border-block-end-style: none;
  }
  .bd-y-xl {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none-xl {
    border-block-style: none;
  }
  .bd-x-xl {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none-xl {
    border-inline-style: none;
  }
  .bd-s-xl {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none-xl {
    border-inline-start-style: none;
  }
  .bd-e-xl {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none-xl {
    border-inline-end-style: none;
  }
  .rd-1-xl {
    border-radius: 0.188rem;
  }
  .rd-1-top-xl {
    --rd-top-l: 0.188rem;
    --rd-top-r: 0.188rem;
  }
  .rd-1-bottom-xl {
    --rd-bottom-l: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-1-start-xl {
    --rd-top-l: 0.188rem;
    --rd-bottom-l: 0.188rem;
  }
  .rd-1-end-xl {
    --rd-top-r: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-2-xl {
    border-radius: 0.375rem;
  }
  .rd-2-top-xl {
    --rd-top-l: 0.375rem;
    --rd-top-r: 0.375rem;
  }
  .rd-2-bottom-xl {
    --rd-bottom-l: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-2-start-xl {
    --rd-top-l: 0.375rem;
    --rd-bottom-l: 0.375rem;
  }
  .rd-2-end-xl {
    --rd-top-r: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-3-xl {
    border-radius: 0.5rem;
  }
  .rd-3-top-xl {
    --rd-top-l: 0.5rem;
    --rd-top-r: 0.5rem;
  }
  .rd-3-bottom-xl {
    --rd-bottom-l: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-3-start-xl {
    --rd-top-l: 0.5rem;
    --rd-bottom-l: 0.5rem;
  }
  .rd-3-end-xl {
    --rd-top-r: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-4-xl {
    border-radius: 0.75rem;
  }
  .rd-4-top-xl {
    --rd-top-l: 0.75rem;
    --rd-top-r: 0.75rem;
  }
  .rd-4-bottom-xl {
    --rd-bottom-l: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-4-start-xl {
    --rd-top-l: 0.75rem;
    --rd-bottom-l: 0.75rem;
  }
  .rd-4-end-xl {
    --rd-top-r: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-5-xl {
    border-radius: 1rem;
  }
  .rd-5-top-xl {
    --rd-top-l: 1rem;
    --rd-top-r: 1rem;
  }
  .rd-5-bottom-xl {
    --rd-bottom-l: 1rem;
    --rd-bottom-r: 1rem;
  }
  .rd-5-start-xl {
    --rd-top-l: 1rem;
    --rd-bottom-l: 1rem;
  }
  .rd-5-end-xl {
    --rd-top-r: 1rem;
    --rd-bottom-r: 1rem;
  }
}
@media (width <= 1280px) {
  .bd-lg {
    border-style: var(--bd-style, solid);
  }
  .bd-none-lg {
    border-style: none;
  }
  .bd-t-lg {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none-lg {
    border-block-start-style: none;
  }
  .bd-b-lg {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none-lg {
    border-block-end-style: none;
  }
  .bd-y-lg {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none-lg {
    border-block-style: none;
  }
  .bd-x-lg {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none-lg {
    border-inline-style: none;
  }
  .bd-s-lg {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none-lg {
    border-inline-start-style: none;
  }
  .bd-e-lg {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none-lg {
    border-inline-end-style: none;
  }
  .rd-1-lg {
    border-radius: 0.188rem;
  }
  .rd-1-top-lg {
    --rd-top-l: 0.188rem;
    --rd-top-r: 0.188rem;
  }
  .rd-1-bottom-lg {
    --rd-bottom-l: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-1-start-lg {
    --rd-top-l: 0.188rem;
    --rd-bottom-l: 0.188rem;
  }
  .rd-1-end-lg {
    --rd-top-r: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-2-lg {
    border-radius: 0.375rem;
  }
  .rd-2-top-lg {
    --rd-top-l: 0.375rem;
    --rd-top-r: 0.375rem;
  }
  .rd-2-bottom-lg {
    --rd-bottom-l: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-2-start-lg {
    --rd-top-l: 0.375rem;
    --rd-bottom-l: 0.375rem;
  }
  .rd-2-end-lg {
    --rd-top-r: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-3-lg {
    border-radius: 0.5rem;
  }
  .rd-3-top-lg {
    --rd-top-l: 0.5rem;
    --rd-top-r: 0.5rem;
  }
  .rd-3-bottom-lg {
    --rd-bottom-l: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-3-start-lg {
    --rd-top-l: 0.5rem;
    --rd-bottom-l: 0.5rem;
  }
  .rd-3-end-lg {
    --rd-top-r: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-4-lg {
    border-radius: 0.75rem;
  }
  .rd-4-top-lg {
    --rd-top-l: 0.75rem;
    --rd-top-r: 0.75rem;
  }
  .rd-4-bottom-lg {
    --rd-bottom-l: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-4-start-lg {
    --rd-top-l: 0.75rem;
    --rd-bottom-l: 0.75rem;
  }
  .rd-4-end-lg {
    --rd-top-r: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-5-lg {
    border-radius: 1rem;
  }
  .rd-5-top-lg {
    --rd-top-l: 1rem;
    --rd-top-r: 1rem;
  }
  .rd-5-bottom-lg {
    --rd-bottom-l: 1rem;
    --rd-bottom-r: 1rem;
  }
  .rd-5-start-lg {
    --rd-top-l: 1rem;
    --rd-bottom-l: 1rem;
  }
  .rd-5-end-lg {
    --rd-top-r: 1rem;
    --rd-bottom-r: 1rem;
  }
}
@media (width <= 1024px) {
  .bd-md {
    border-style: var(--bd-style, solid);
  }
  .bd-none-md {
    border-style: none;
  }
  .bd-t-md {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none-md {
    border-block-start-style: none;
  }
  .bd-b-md {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none-md {
    border-block-end-style: none;
  }
  .bd-y-md {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none-md {
    border-block-style: none;
  }
  .bd-x-md {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none-md {
    border-inline-style: none;
  }
  .bd-s-md {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none-md {
    border-inline-start-style: none;
  }
  .bd-e-md {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none-md {
    border-inline-end-style: none;
  }
  .rd-1-md {
    border-radius: 0.188rem;
  }
  .rd-1-top-md {
    --rd-top-l: 0.188rem;
    --rd-top-r: 0.188rem;
  }
  .rd-1-bottom-md {
    --rd-bottom-l: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-1-start-md {
    --rd-top-l: 0.188rem;
    --rd-bottom-l: 0.188rem;
  }
  .rd-1-end-md {
    --rd-top-r: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-2-md {
    border-radius: 0.375rem;
  }
  .rd-2-top-md {
    --rd-top-l: 0.375rem;
    --rd-top-r: 0.375rem;
  }
  .rd-2-bottom-md {
    --rd-bottom-l: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-2-start-md {
    --rd-top-l: 0.375rem;
    --rd-bottom-l: 0.375rem;
  }
  .rd-2-end-md {
    --rd-top-r: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-3-md {
    border-radius: 0.5rem;
  }
  .rd-3-top-md {
    --rd-top-l: 0.5rem;
    --rd-top-r: 0.5rem;
  }
  .rd-3-bottom-md {
    --rd-bottom-l: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-3-start-md {
    --rd-top-l: 0.5rem;
    --rd-bottom-l: 0.5rem;
  }
  .rd-3-end-md {
    --rd-top-r: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-4-md {
    border-radius: 0.75rem;
  }
  .rd-4-top-md {
    --rd-top-l: 0.75rem;
    --rd-top-r: 0.75rem;
  }
  .rd-4-bottom-md {
    --rd-bottom-l: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-4-start-md {
    --rd-top-l: 0.75rem;
    --rd-bottom-l: 0.75rem;
  }
  .rd-4-end-md {
    --rd-top-r: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-5-md {
    border-radius: 1rem;
  }
  .rd-5-top-md {
    --rd-top-l: 1rem;
    --rd-top-r: 1rem;
  }
  .rd-5-bottom-md {
    --rd-bottom-l: 1rem;
    --rd-bottom-r: 1rem;
  }
  .rd-5-start-md {
    --rd-top-l: 1rem;
    --rd-bottom-l: 1rem;
  }
  .rd-5-end-md {
    --rd-top-r: 1rem;
    --rd-bottom-r: 1rem;
  }
}
@media (width <= 768px) {
  .bd-sm {
    border-style: var(--bd-style, solid);
  }
  .bd-none-sm {
    border-style: none;
  }
  .bd-t-sm {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none-sm {
    border-block-start-style: none;
  }
  .bd-b-sm {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none-sm {
    border-block-end-style: none;
  }
  .bd-y-sm {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none-sm {
    border-block-style: none;
  }
  .bd-x-sm {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none-sm {
    border-inline-style: none;
  }
  .bd-s-sm {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none-sm {
    border-inline-start-style: none;
  }
  .bd-e-sm {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none-sm {
    border-inline-end-style: none;
  }
  .rd-1-sm {
    border-radius: 0.188rem;
  }
  .rd-1-top-sm {
    --rd-top-l: 0.188rem;
    --rd-top-r: 0.188rem;
  }
  .rd-1-bottom-sm {
    --rd-bottom-l: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-1-start-sm {
    --rd-top-l: 0.188rem;
    --rd-bottom-l: 0.188rem;
  }
  .rd-1-end-sm {
    --rd-top-r: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-2-sm {
    border-radius: 0.375rem;
  }
  .rd-2-top-sm {
    --rd-top-l: 0.375rem;
    --rd-top-r: 0.375rem;
  }
  .rd-2-bottom-sm {
    --rd-bottom-l: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-2-start-sm {
    --rd-top-l: 0.375rem;
    --rd-bottom-l: 0.375rem;
  }
  .rd-2-end-sm {
    --rd-top-r: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-3-sm {
    border-radius: 0.5rem;
  }
  .rd-3-top-sm {
    --rd-top-l: 0.5rem;
    --rd-top-r: 0.5rem;
  }
  .rd-3-bottom-sm {
    --rd-bottom-l: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-3-start-sm {
    --rd-top-l: 0.5rem;
    --rd-bottom-l: 0.5rem;
  }
  .rd-3-end-sm {
    --rd-top-r: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-4-sm {
    border-radius: 0.75rem;
  }
  .rd-4-top-sm {
    --rd-top-l: 0.75rem;
    --rd-top-r: 0.75rem;
  }
  .rd-4-bottom-sm {
    --rd-bottom-l: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-4-start-sm {
    --rd-top-l: 0.75rem;
    --rd-bottom-l: 0.75rem;
  }
  .rd-4-end-sm {
    --rd-top-r: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-5-sm {
    border-radius: 1rem;
  }
  .rd-5-top-sm {
    --rd-top-l: 1rem;
    --rd-top-r: 1rem;
  }
  .rd-5-bottom-sm {
    --rd-bottom-l: 1rem;
    --rd-bottom-r: 1rem;
  }
  .rd-5-start-sm {
    --rd-top-l: 1rem;
    --rd-bottom-l: 1rem;
  }
  .rd-5-end-sm {
    --rd-top-r: 1rem;
    --rd-bottom-r: 1rem;
  }
}
@media (width <= 480px) {
  .bd-xs {
    border-style: var(--bd-style, solid);
  }
  .bd-none-xs {
    border-style: none;
  }
  .bd-t-xs {
    border-block-start-style: var(--bd-style, solid);
  }
  .bd-t-none-xs {
    border-block-start-style: none;
  }
  .bd-b-xs {
    border-block-end-style: var(--bd-style, solid);
  }
  .bd-b-none-xs {
    border-block-end-style: none;
  }
  .bd-y-xs {
    border-block-style: var(--bd-style, solid);
  }
  .bd-y-none-xs {
    border-block-style: none;
  }
  .bd-x-xs {
    border-inline-style: var(--bd-style, solid);
  }
  .bd-x-none-xs {
    border-inline-style: none;
  }
  .bd-s-xs {
    border-inline-start-style: var(--bd-style, solid);
  }
  .bd-s-none-xs {
    border-inline-start-style: none;
  }
  .bd-e-xs {
    border-inline-end-style: var(--bd-style, solid);
  }
  .bd-e-none-xs {
    border-inline-end-style: none;
  }
  .rd-1-xs {
    border-radius: 0.188rem;
  }
  .rd-1-top-xs {
    --rd-top-l: 0.188rem;
    --rd-top-r: 0.188rem;
  }
  .rd-1-bottom-xs {
    --rd-bottom-l: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-1-start-xs {
    --rd-top-l: 0.188rem;
    --rd-bottom-l: 0.188rem;
  }
  .rd-1-end-xs {
    --rd-top-r: 0.188rem;
    --rd-bottom-r: 0.188rem;
  }
  .rd-2-xs {
    border-radius: 0.375rem;
  }
  .rd-2-top-xs {
    --rd-top-l: 0.375rem;
    --rd-top-r: 0.375rem;
  }
  .rd-2-bottom-xs {
    --rd-bottom-l: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-2-start-xs {
    --rd-top-l: 0.375rem;
    --rd-bottom-l: 0.375rem;
  }
  .rd-2-end-xs {
    --rd-top-r: 0.375rem;
    --rd-bottom-r: 0.375rem;
  }
  .rd-3-xs {
    border-radius: 0.5rem;
  }
  .rd-3-top-xs {
    --rd-top-l: 0.5rem;
    --rd-top-r: 0.5rem;
  }
  .rd-3-bottom-xs {
    --rd-bottom-l: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-3-start-xs {
    --rd-top-l: 0.5rem;
    --rd-bottom-l: 0.5rem;
  }
  .rd-3-end-xs {
    --rd-top-r: 0.5rem;
    --rd-bottom-r: 0.5rem;
  }
  .rd-4-xs {
    border-radius: 0.75rem;
  }
  .rd-4-top-xs {
    --rd-top-l: 0.75rem;
    --rd-top-r: 0.75rem;
  }
  .rd-4-bottom-xs {
    --rd-bottom-l: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-4-start-xs {
    --rd-top-l: 0.75rem;
    --rd-bottom-l: 0.75rem;
  }
  .rd-4-end-xs {
    --rd-top-r: 0.75rem;
    --rd-bottom-r: 0.75rem;
  }
  .rd-5-xs {
    border-radius: 1rem;
  }
  .rd-5-top-xs {
    --rd-top-l: 1rem;
    --rd-top-r: 1rem;
  }
  .rd-5-bottom-xs {
    --rd-bottom-l: 1rem;
    --rd-bottom-r: 1rem;
  }
  .rd-5-start-xs {
    --rd-top-l: 1rem;
    --rd-bottom-l: 1rem;
  }
  .rd-5-end-xs {
    --rd-top-r: 1rem;
    --rd-bottom-r: 1rem;
  }
}