/*! Bitz v0.1 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
.block {
  display: block;
}

.inline {
  display: inline;
}

.block-inline {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.grid {
  display: grid;
}

.grid-inline {
  display: inline-grid;
}

.flow-root {
  display: flow-root;
}

.display-revert {
  display: revert;
}

.display-none {
  display: none;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-content-start {
  align-content: start;
}

.justify-content-start {
  justify-content: start;
}

.place-content-start {
  place-content: start;
}

.align-content-end {
  align-content: end;
}

.justify-content-end {
  justify-content: end;
}

.place-content-end {
  place-content: end;
}

.align-content-center {
  align-content: center;
}

.justify-content-center {
  justify-content: center;
}

.place-content-center {
  place-content: center;
}

.align-content-around {
  align-content: space-around;
}

.justify-content-around {
  justify-content: space-around;
}

.place-content-around {
  place-content: space-around;
}

.align-content-between {
  align-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.place-content-between {
  place-content: space-between;
}

.align-content-evenly {
  align-content: space-evenly;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.place-content-evenly {
  place-content: space-evenly;
}

.align-items-start {
  align-items: start;
}

.justify-items-start {
  justify-items: start;
}

.place-items-start {
  place-items: start;
}

.align-items-end {
  align-items: end;
}

.justify-items-end {
  justify-items: end;
}

.place-items-end {
  place-items: end;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.place-items-center {
  place-items: center;
}

@media (width <= 1440px) {
  .block-xl {
    display: block;
  }
  .inline-xl {
    display: inline;
  }
  .block-inline-xl {
    display: inline-block;
  }
  .flex-xl {
    display: flex;
  }
  .flex-inline-xl {
    display: inline-flex;
  }
  .grid-xl {
    display: grid;
  }
  .grid-inline-xl {
    display: inline-grid;
  }
  .flow-root-xl {
    display: flow-root;
  }
  .display-revert-xl {
    display: revert;
  }
  .display-none-xl {
    display: none;
  }
  .flex-row-xl {
    flex-direction: row;
  }
  .flex-column-xl {
    flex-direction: column;
  }
  .flex-wrap-xl {
    flex-wrap: wrap;
  }
  .flex-nowrap-xl {
    flex-wrap: nowrap;
  }
  .align-content-start-xl {
    align-content: start;
  }
  .justify-content-start-xl {
    justify-content: start;
  }
  .place-content-start-xl {
    place-content: start;
  }
  .align-content-end-xl {
    align-content: end;
  }
  .justify-content-end-xl {
    justify-content: end;
  }
  .place-content-end-xl {
    place-content: end;
  }
  .align-content-center-xl {
    align-content: center;
  }
  .justify-content-center-xl {
    justify-content: center;
  }
  .place-content-center-xl {
    place-content: center;
  }
  .align-content-around-xl {
    align-content: space-around;
  }
  .justify-content-around-xl {
    justify-content: space-around;
  }
  .place-content-around-xl {
    place-content: space-around;
  }
  .align-content-between-xl {
    align-content: space-between;
  }
  .justify-content-between-xl {
    justify-content: space-between;
  }
  .place-content-between-xl {
    place-content: space-between;
  }
  .align-content-evenly-xl {
    align-content: space-evenly;
  }
  .justify-content-evenly-xl {
    justify-content: space-evenly;
  }
  .place-content-evenly-xl {
    place-content: space-evenly;
  }
  .align-items-start-xl {
    align-items: start;
  }
  .justify-items-start-xl {
    justify-items: start;
  }
  .place-items-start-xl {
    place-items: start;
  }
  .align-items-end-xl {
    align-items: end;
  }
  .justify-items-end-xl {
    justify-items: end;
  }
  .place-items-end-xl {
    place-items: end;
  }
  .align-items-center-xl {
    align-items: center;
  }
  .justify-items-center-xl {
    justify-items: center;
  }
  .place-items-center-xl {
    place-items: center;
  }
}
@media (width <= 1280px) {
  .block-lg {
    display: block;
  }
  .inline-lg {
    display: inline;
  }
  .block-inline-lg {
    display: inline-block;
  }
  .flex-lg {
    display: flex;
  }
  .flex-inline-lg {
    display: inline-flex;
  }
  .grid-lg {
    display: grid;
  }
  .grid-inline-lg {
    display: inline-grid;
  }
  .flow-root-lg {
    display: flow-root;
  }
  .display-revert-lg {
    display: revert;
  }
  .display-none-lg {
    display: none;
  }
  .flex-row-lg {
    flex-direction: row;
  }
  .flex-column-lg {
    flex-direction: column;
  }
  .flex-wrap-lg {
    flex-wrap: wrap;
  }
  .flex-nowrap-lg {
    flex-wrap: nowrap;
  }
  .align-content-start-lg {
    align-content: start;
  }
  .justify-content-start-lg {
    justify-content: start;
  }
  .place-content-start-lg {
    place-content: start;
  }
  .align-content-end-lg {
    align-content: end;
  }
  .justify-content-end-lg {
    justify-content: end;
  }
  .place-content-end-lg {
    place-content: end;
  }
  .align-content-center-lg {
    align-content: center;
  }
  .justify-content-center-lg {
    justify-content: center;
  }
  .place-content-center-lg {
    place-content: center;
  }
  .align-content-around-lg {
    align-content: space-around;
  }
  .justify-content-around-lg {
    justify-content: space-around;
  }
  .place-content-around-lg {
    place-content: space-around;
  }
  .align-content-between-lg {
    align-content: space-between;
  }
  .justify-content-between-lg {
    justify-content: space-between;
  }
  .place-content-between-lg {
    place-content: space-between;
  }
  .align-content-evenly-lg {
    align-content: space-evenly;
  }
  .justify-content-evenly-lg {
    justify-content: space-evenly;
  }
  .place-content-evenly-lg {
    place-content: space-evenly;
  }
  .align-items-start-lg {
    align-items: start;
  }
  .justify-items-start-lg {
    justify-items: start;
  }
  .place-items-start-lg {
    place-items: start;
  }
  .align-items-end-lg {
    align-items: end;
  }
  .justify-items-end-lg {
    justify-items: end;
  }
  .place-items-end-lg {
    place-items: end;
  }
  .align-items-center-lg {
    align-items: center;
  }
  .justify-items-center-lg {
    justify-items: center;
  }
  .place-items-center-lg {
    place-items: center;
  }
}
@media (width <= 1024px) {
  .block-md {
    display: block;
  }
  .inline-md {
    display: inline;
  }
  .block-inline-md {
    display: inline-block;
  }
  .flex-md {
    display: flex;
  }
  .flex-inline-md {
    display: inline-flex;
  }
  .grid-md {
    display: grid;
  }
  .grid-inline-md {
    display: inline-grid;
  }
  .flow-root-md {
    display: flow-root;
  }
  .display-revert-md {
    display: revert;
  }
  .display-none-md {
    display: none;
  }
  .flex-row-md {
    flex-direction: row;
  }
  .flex-column-md {
    flex-direction: column;
  }
  .flex-wrap-md {
    flex-wrap: wrap;
  }
  .flex-nowrap-md {
    flex-wrap: nowrap;
  }
  .align-content-start-md {
    align-content: start;
  }
  .justify-content-start-md {
    justify-content: start;
  }
  .place-content-start-md {
    place-content: start;
  }
  .align-content-end-md {
    align-content: end;
  }
  .justify-content-end-md {
    justify-content: end;
  }
  .place-content-end-md {
    place-content: end;
  }
  .align-content-center-md {
    align-content: center;
  }
  .justify-content-center-md {
    justify-content: center;
  }
  .place-content-center-md {
    place-content: center;
  }
  .align-content-around-md {
    align-content: space-around;
  }
  .justify-content-around-md {
    justify-content: space-around;
  }
  .place-content-around-md {
    place-content: space-around;
  }
  .align-content-between-md {
    align-content: space-between;
  }
  .justify-content-between-md {
    justify-content: space-between;
  }
  .place-content-between-md {
    place-content: space-between;
  }
  .align-content-evenly-md {
    align-content: space-evenly;
  }
  .justify-content-evenly-md {
    justify-content: space-evenly;
  }
  .place-content-evenly-md {
    place-content: space-evenly;
  }
  .align-items-start-md {
    align-items: start;
  }
  .justify-items-start-md {
    justify-items: start;
  }
  .place-items-start-md {
    place-items: start;
  }
  .align-items-end-md {
    align-items: end;
  }
  .justify-items-end-md {
    justify-items: end;
  }
  .place-items-end-md {
    place-items: end;
  }
  .align-items-center-md {
    align-items: center;
  }
  .justify-items-center-md {
    justify-items: center;
  }
  .place-items-center-md {
    place-items: center;
  }
}
@media (width <= 768px) {
  .block-sm {
    display: block;
  }
  .inline-sm {
    display: inline;
  }
  .block-inline-sm {
    display: inline-block;
  }
  .flex-sm {
    display: flex;
  }
  .flex-inline-sm {
    display: inline-flex;
  }
  .grid-sm {
    display: grid;
  }
  .grid-inline-sm {
    display: inline-grid;
  }
  .flow-root-sm {
    display: flow-root;
  }
  .display-revert-sm {
    display: revert;
  }
  .display-none-sm {
    display: none;
  }
  .flex-row-sm {
    flex-direction: row;
  }
  .flex-column-sm {
    flex-direction: column;
  }
  .flex-wrap-sm {
    flex-wrap: wrap;
  }
  .flex-nowrap-sm {
    flex-wrap: nowrap;
  }
  .align-content-start-sm {
    align-content: start;
  }
  .justify-content-start-sm {
    justify-content: start;
  }
  .place-content-start-sm {
    place-content: start;
  }
  .align-content-end-sm {
    align-content: end;
  }
  .justify-content-end-sm {
    justify-content: end;
  }
  .place-content-end-sm {
    place-content: end;
  }
  .align-content-center-sm {
    align-content: center;
  }
  .justify-content-center-sm {
    justify-content: center;
  }
  .place-content-center-sm {
    place-content: center;
  }
  .align-content-around-sm {
    align-content: space-around;
  }
  .justify-content-around-sm {
    justify-content: space-around;
  }
  .place-content-around-sm {
    place-content: space-around;
  }
  .align-content-between-sm {
    align-content: space-between;
  }
  .justify-content-between-sm {
    justify-content: space-between;
  }
  .place-content-between-sm {
    place-content: space-between;
  }
  .align-content-evenly-sm {
    align-content: space-evenly;
  }
  .justify-content-evenly-sm {
    justify-content: space-evenly;
  }
  .place-content-evenly-sm {
    place-content: space-evenly;
  }
  .align-items-start-sm {
    align-items: start;
  }
  .justify-items-start-sm {
    justify-items: start;
  }
  .place-items-start-sm {
    place-items: start;
  }
  .align-items-end-sm {
    align-items: end;
  }
  .justify-items-end-sm {
    justify-items: end;
  }
  .place-items-end-sm {
    place-items: end;
  }
  .align-items-center-sm {
    align-items: center;
  }
  .justify-items-center-sm {
    justify-items: center;
  }
  .place-items-center-sm {
    place-items: center;
  }
}
@media (width <= 480px) {
  .block-xs {
    display: block;
  }
  .inline-xs {
    display: inline;
  }
  .block-inline-xs {
    display: inline-block;
  }
  .flex-xs {
    display: flex;
  }
  .flex-inline-xs {
    display: inline-flex;
  }
  .grid-xs {
    display: grid;
  }
  .grid-inline-xs {
    display: inline-grid;
  }
  .flow-root-xs {
    display: flow-root;
  }
  .display-revert-xs {
    display: revert;
  }
  .display-none-xs {
    display: none;
  }
  .flex-row-xs {
    flex-direction: row;
  }
  .flex-column-xs {
    flex-direction: column;
  }
  .flex-wrap-xs {
    flex-wrap: wrap;
  }
  .flex-nowrap-xs {
    flex-wrap: nowrap;
  }
  .align-content-start-xs {
    align-content: start;
  }
  .justify-content-start-xs {
    justify-content: start;
  }
  .place-content-start-xs {
    place-content: start;
  }
  .align-content-end-xs {
    align-content: end;
  }
  .justify-content-end-xs {
    justify-content: end;
  }
  .place-content-end-xs {
    place-content: end;
  }
  .align-content-center-xs {
    align-content: center;
  }
  .justify-content-center-xs {
    justify-content: center;
  }
  .place-content-center-xs {
    place-content: center;
  }
  .align-content-around-xs {
    align-content: space-around;
  }
  .justify-content-around-xs {
    justify-content: space-around;
  }
  .place-content-around-xs {
    place-content: space-around;
  }
  .align-content-between-xs {
    align-content: space-between;
  }
  .justify-content-between-xs {
    justify-content: space-between;
  }
  .place-content-between-xs {
    place-content: space-between;
  }
  .align-content-evenly-xs {
    align-content: space-evenly;
  }
  .justify-content-evenly-xs {
    justify-content: space-evenly;
  }
  .place-content-evenly-xs {
    place-content: space-evenly;
  }
  .align-items-start-xs {
    align-items: start;
  }
  .justify-items-start-xs {
    justify-items: start;
  }
  .place-items-start-xs {
    place-items: start;
  }
  .align-items-end-xs {
    align-items: end;
  }
  .justify-items-end-xs {
    justify-items: end;
  }
  .place-items-end-xs {
    place-items: end;
  }
  .align-items-center-xs {
    align-items: center;
  }
  .justify-items-center-xs {
    justify-items: center;
  }
  .place-items-center-xs {
    place-items: center;
  }
}