/*! Bitz v0.1 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
.ratio,
.child-ratio *:not(figcaption) {
  aspect-ratio: var(--ratio);
}

.ratio-1x1,
.child-ratio-1x1 *:not(figcaption) {
  aspect-ratio: 1/1;
}

.ratio-16x9,
.child-ratio-16x9 *:not(figcaption) {
  aspect-ratio: 16/9;
}

.ratio-5x2,
.child-ratio-5x2 *:not(figcaption) {
  aspect-ratio: 5/2;
}

.ratio-3x1,
.child-ratio-3x1 *:not(figcaption) {
  aspect-ratio: 3/1;
}

.ratio-3x4,
.child-ratio-3x4 *:not(figcaption) {
  aspect-ratio: 3/4;
}

.object-contain,
.child-object-contain * {
  object-fit: contain;
}

.object-cover,
.child-object-cover * {
  object-fit: cover;
}

.object-fill,
.child-object-fill * {
  object-fit: fill;
}

.object-scale,
.child-object-scale * {
  object-fit: scale-down;
}