/*! Bitz v0.1 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
:where(html) {
  --g-1: repeat(1, minmax(0, 1fr));
  --g-2: repeat(2, minmax(0, 1fr));
  --g-3: repeat(3, minmax(0, 1fr));
  --g-4: repeat(4, minmax(0, 1fr));
  --g-5: repeat(5, minmax(0, 1fr));
  --g-6: repeat(6, minmax(0, 1fr));
  --g-7: repeat(7, minmax(0, 1fr));
  --g-8: repeat(8, minmax(0, 1fr));
  --g-9: repeat(9, minmax(0, 1fr));
  --g-10: repeat(10, minmax(0, 1fr));
  --g-11: repeat(11, minmax(0, 1fr));
  --g-12: repeat(12, minmax(0, 1fr));
}

.grid {
  display: grid;
  grid-template-columns: var(--gtc);
  grid-template-rows: var(--gtr);
}

.g-1 {
  --gtc: var(--g-1);
}

.g-2 {
  --gtc: var(--g-2);
}

.g-3 {
  --gtc: var(--g-3);
}

.g-4 {
  --gtc: var(--g-4);
}

.g-5 {
  --gtc: var(--g-5);
}

.g-6 {
  --gtc: var(--g-6);
}

.g-7 {
  --gtc: var(--g-7);
}

.g-8 {
  --gtc: var(--g-8);
}

.g-9 {
  --gtc: var(--g-9);
}

.g-10 {
  --gtc: var(--g-10);
}

.g-11 {
  --gtc: var(--g-11);
}

.g-12 {
  --gtc: var(--g-12);
}

@media (width <= 1440px) {
  .grid-xl {
    display: grid;
    grid-template-columns: var(--gtc);
    grid-template-rows: var(--gtr);
  }
  .g-1-xl {
    --gtc: var(--g-1);
  }
  .g-2-xl {
    --gtc: var(--g-2);
  }
  .g-3-xl {
    --gtc: var(--g-3);
  }
  .g-4-xl {
    --gtc: var(--g-4);
  }
  .g-5-xl {
    --gtc: var(--g-5);
  }
  .g-6-xl {
    --gtc: var(--g-6);
  }
  .g-7-xl {
    --gtc: var(--g-7);
  }
  .g-8-xl {
    --gtc: var(--g-8);
  }
  .g-9-xl {
    --gtc: var(--g-9);
  }
  .g-10-xl {
    --gtc: var(--g-10);
  }
  .g-11-xl {
    --gtc: var(--g-11);
  }
  .g-12-xl {
    --gtc: var(--g-12);
  }
}
@media (width <= 1280px) {
  .grid-lg {
    display: grid;
    grid-template-columns: var(--gtc);
    grid-template-rows: var(--gtr);
  }
  .g-1-lg {
    --gtc: var(--g-1);
  }
  .g-2-lg {
    --gtc: var(--g-2);
  }
  .g-3-lg {
    --gtc: var(--g-3);
  }
  .g-4-lg {
    --gtc: var(--g-4);
  }
  .g-5-lg {
    --gtc: var(--g-5);
  }
  .g-6-lg {
    --gtc: var(--g-6);
  }
  .g-7-lg {
    --gtc: var(--g-7);
  }
  .g-8-lg {
    --gtc: var(--g-8);
  }
  .g-9-lg {
    --gtc: var(--g-9);
  }
  .g-10-lg {
    --gtc: var(--g-10);
  }
  .g-11-lg {
    --gtc: var(--g-11);
  }
  .g-12-lg {
    --gtc: var(--g-12);
  }
}
@media (width <= 1024px) {
  .grid-md {
    display: grid;
    grid-template-columns: var(--gtc);
    grid-template-rows: var(--gtr);
  }
  .g-1-md {
    --gtc: var(--g-1);
  }
  .g-2-md {
    --gtc: var(--g-2);
  }
  .g-3-md {
    --gtc: var(--g-3);
  }
  .g-4-md {
    --gtc: var(--g-4);
  }
  .g-5-md {
    --gtc: var(--g-5);
  }
  .g-6-md {
    --gtc: var(--g-6);
  }
  .g-7-md {
    --gtc: var(--g-7);
  }
  .g-8-md {
    --gtc: var(--g-8);
  }
  .g-9-md {
    --gtc: var(--g-9);
  }
  .g-10-md {
    --gtc: var(--g-10);
  }
  .g-11-md {
    --gtc: var(--g-11);
  }
  .g-12-md {
    --gtc: var(--g-12);
  }
}
@media (width <= 768px) {
  .grid-sm {
    display: grid;
    grid-template-columns: var(--gtc);
    grid-template-rows: var(--gtr);
  }
  .g-1-sm {
    --gtc: var(--g-1);
  }
  .g-2-sm {
    --gtc: var(--g-2);
  }
  .g-3-sm {
    --gtc: var(--g-3);
  }
  .g-4-sm {
    --gtc: var(--g-4);
  }
  .g-5-sm {
    --gtc: var(--g-5);
  }
  .g-6-sm {
    --gtc: var(--g-6);
  }
  .g-7-sm {
    --gtc: var(--g-7);
  }
  .g-8-sm {
    --gtc: var(--g-8);
  }
  .g-9-sm {
    --gtc: var(--g-9);
  }
  .g-10-sm {
    --gtc: var(--g-10);
  }
  .g-11-sm {
    --gtc: var(--g-11);
  }
  .g-12-sm {
    --gtc: var(--g-12);
  }
}
@media (width <= 480px) {
  .grid-xs {
    display: grid;
    grid-template-columns: var(--gtc);
    grid-template-rows: var(--gtr);
  }
  .g-1-xs {
    --gtc: var(--g-1);
  }
  .g-2-xs {
    --gtc: var(--g-2);
  }
  .g-3-xs {
    --gtc: var(--g-3);
  }
  .g-4-xs {
    --gtc: var(--g-4);
  }
  .g-5-xs {
    --gtc: var(--g-5);
  }
  .g-6-xs {
    --gtc: var(--g-6);
  }
  .g-7-xs {
    --gtc: var(--g-7);
  }
  .g-8-xs {
    --gtc: var(--g-8);
  }
  .g-9-xs {
    --gtc: var(--g-9);
  }
  .g-10-xs {
    --gtc: var(--g-10);
  }
  .g-11-xs {
    --gtc: var(--g-11);
  }
  .g-12-xs {
    --gtc: var(--g-12);
  }
}