:where(button, input, optgroup, select, textarea), .btn {
  font-family: inherit;
  line-height: inherit;
  
  &:focus {
    outline: var(--input-focus-width, 1.75px) solid var(--input-focus-color, color-mix(in srgb, CanvasText 40%, var(--background, Canvas)));
    outline-offset: var(--input-focus-offset, 0);  
  }
  
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

:where(button, optgroup, select, [type=button], [type=submit], [type=reset], [type=color]),
::file-selector-button {
  cursor: pointer;
}

:where(button, input, optgroup, select, textarea):disabled,
:where([aria-disabled=true]) {
  opacity: 0.65;
  pointer-events: none;
}

:where(optgroup, select, textarea, input:not([type=button], [type=submit], [type=reset])) {
  color: var(--form-text, var(--text, CanvasText));
  font-size: var(--form-fs, inherit);
  padding-block: var(--form-py, 0.313rem);
  padding-inline: var(--form-px, 0.65rem);
  border: var(--form-bd-width, var(--border-width, 1px)) solid var(--form-bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  border-radius: var(--form-radius, var(--border-radius, 0.188em));
  background-color: var(--form-bg, var(--background, Canvas));
}

:where(button, [type=button], [type=submit], [type=reset]),
::file-selector-button, .btn {
  color: var(--btn-text, var(--text, CanvasText));
  font-size: var(--btn-fs, inherit);
  padding-block: var(--btn-py, 0.313rem);
  padding-inline: var(--btn-px, 0.9rem);
  border: var(--btn-bd-width, var(--border-width, 1px)) solid var(--btn-bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  border-radius: var(--btn-radius, var(--border-radius, 0.188em));
  background-color: var(--btn-bg, color-mix(in srgb, CanvasText 5%, var(--background, Canvas)));
  -webkit-appearance: button;
  
  &:where(:hover, :focus),
  &:focus:not(:focus-visible):hover {
    background-color: var(--btn-hover, color-mix(in srgb, CanvasText 10%, var(--background, Canvas)));
  }
  
  &:focus:not(:focus-visible) {
    background-color: var(--btn-bg, color-mix(in srgb, CanvasText 5%, var(--background, Canvas)));
  }
  
  &:is(a) {
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
}

:where([type=file]) {
  padding: 0;
  background-color: transparent;
}

::file-selector-button {
  font-family: inherit;
  line-height: inherit;
  margin-inline-end: 0.75rem;
  border-block: none;
  border-inline-start: none;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

::file-selector-button:hover {
  background-color: var(--btn-hover, color-mix(in srgb, CanvasText 10%, var(--background, Canvas)));  
}

:where(textarea) {
  display: block;
  resize: vertical;
}

:where([type=radio], [type=checkbox], [type=range], [progress]) {
  accent-color: var(--form-accent, light-dark(#1c3db5, #9fbfdf));
}

:where(fieldset, legend) {
  border: var(--form-bd-width, var(--border-width, 1px)) solid var(--form-bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  border-radius: var(--form-radius, var(--border-radius, 0.188em));
}

:where(fieldset) {
  inline-size: fit-content;
}

:where(legend) {
  padding-block: var(--form-py, 0.313rem);
  padding-inline: var(--form-px, 0.65rem);
}

:where([type=color]) {
  padding: 0;
}

:where(input[type=color])::-webkit-color-swatch-wrapper {
  padding: 0;
}

:where(input[type=color i])::-webkit-color-swatch {
  border: none;
}

:where(input):autofill,
:where(input):-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1.5rem color-mix(in srgb, CanvasText 2%, var(--background, Canvas)) inset;
}

.search, .btn-group, .btn-group-column {
  display: flex;
  
  :focus {
    outline: none;
  }
}

.search {
  align-items: center;
  
  input {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  
  button {
    margin-inline-start: -1px;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}

.btn-group, .btn-group-column {
  &:where(ol, ul) {
    list-style-type: "";
    margin-block-end: 0;
    padding-inline-start: 0;
  }
  
  *, *:is(li) :is(.btn, button) {
    border-radius: 0;
  }
}

.btn-group {
  *:not(:first-child) {
    margin-inline-start: calc(var(--btn-bd-width, var(--border-width, 1px)) - var(--btn-bd-width, var(--border-width, 1px)) - var(--btn-bd-width, var(--border-width, 1px)));
  }
  
  *:first-child, *:is(li):first-child * {
    border-start-start-radius: var(--btn-radius, var(--border-radius, 0.188em));
    border-end-start-radius: var(--btn-radius, var(--border-radius, 0.188em));  
  }
  
  *:last-child, *:is(li):last-child * {
    border-start-end-radius: var(--btn-radius, var(--border-radius, 0.188em));
    border-end-end-radius: var(--btn-radius, var(--border-radius, 0.188em));
  }
}

.btn-group-column {
  flex-direction: column;
  inline-size: fit-content;
  
  *:not(:first-child) {
    margin-block-start: calc(var(--btn-bd-width, var(--border-width, 1px)) - var(--btn-bd-width, var(--border-width, 1px)) - var(--btn-bd-width, var(--border-width, 1px)));
  }
  
  *:first-child, *:is(li):first-child * {
    border-start-start-radius: var(--btn-radius, var(--border-radius, 0.188em));
    border-start-end-radius: var(--btn-radius, var(--border-radius, 0.188em));  
  }
  
  *:last-child, *:is(li):last-child * {
    border-end-start-radius: var(--btn-radius, var(--border-radius, 0.188em));
    border-end-end-radius: var(--btn-radius, var(--border-radius, 0.188em));  
  }    
}

.btn-outline {
  --btn-bg: transparent;
}
