@layer content {
  :where(:not([popover], dialog)) {
    margin: 0;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  :where(html) {
    color-scheme: light dark;
    color: var(--text, CanvasText);
    font-size: var(--html-fs, clamp(100%, 40% + 0.666vw, 140%));
    font-family: var(--font, system-ui, -apple-system, sans-serif);
    background-color: var(--background, Canvas);
    block-size: 100%;
  }
  
  :where(body) {
    font-size: var(--body-fs, 1rem);
    line-height: var(--body-lh, 1.5);
  }
  
  :where(a) {
    color: var(--link, light-dark(#1c3db5, #9fbfdf));
    overflow-wrap: break-word;
    text-decoration: var(--link-decoration, underline);
    text-decoration-thickness: var(--link-decoration-thickness, 1px);
    text-underline-offset: var(--link-decoration-offset, 0.1175em);
  
    &:visited {
      color: var(--link-visited, light-dark(#4f6fe3, #b3cce6));
    } 
    
    &:focus-visible {
      outline: var(--link-focus-width, 1px) solid var(--link-focus-color, var(--link, light-dark(#1c3db5, #9fbfdf)));
      border-radius: var(--link-focus-radius, 0.125em);
    }
    
    &:is(:hover, :focus) {
      color: var(--link-hover, light-dark(#385de0, #c6d8ec));
      text-decoration: var(--link-hover-decoration, none);
    }
  }
  
  :where(h1, h2, h3, h4, h5, h6) a {
    text-decoration: none;
  }
  
  :where(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--heading-fw, bold);
    line-height: var(--heading-lh, 1.2);
    text-wrap: var(--heading-tw, pretty);
    margin-block-end: var(--heading-mb, 0.75rem);
  }
  
  :where(h1), .h1 {
    font-size: var(--h1-fs, 2.125rem);
  }
  
  :where(h2), .h2 {
    font-size: var(--h2-fs, 1.75rem);
  }
  
  :where(h3), .h3 {
    font-size: var(--h3-fs, 1.5rem);
  }
  
  :where(h4), .h4 {
    font-size: var(--h4-fs, 1.375rem);
  }
  
  :where(h5), .h5 {
    font-size: var(--h5-fs, 1.25rem);
  }
  
  :where(h6), .h6 {
    --heading-lh: 1.25;
    font-size: var(--h6-fs, 1.063rem);
  }
  
  :where(p) {
    font-size: var(--para-fs, inherit);
    text-wrap: var(--para-tw, pretty);
    margin-block-end: var(--para-mb, 1rem);
  }
  
  :where(small) {
    font-size: var(--sml-fs, 0.875em);
  }
  
  :where(h1, h2, h3, h4, h5, h6) small {
    font-size: var(--sml-heading-fs, 0.75em);
  }
  
  :where(ol, ul, dl) {
    text-wrap: var(--list-tw, pretty);
    margin-block-end: var(--list-mb, 1rem);
    
    :is(ol ol, ul ul, ol ul, ul ol, dl dl) {
      margin-block-end: var(--list-child-mb, 0);
    }
  }
  
  :where(ol, ul) {
    list-style-type: var(--marker, revert);
    padding-inline-start: var(--li-ps, 2rem);
  }
  
  :where(dt) {
    font-weight: var(--dt-fw);
    
    &:not(:first-child) {
      margin-block-start: var(--dt-mt);  
    }
  }
  
  :where(dd) {
    margin-inline-start: var(--dd-ms, 1rem);
  }
  
  :where(abbr[title]) {
    cursor: help;
  }
  
  :where(address, blockquote, details, pre, figure, hr) {
    margin-block-end: var(--mb, 1rem);
  }
  
  :where(blockquote) {
    color: var(--blockquote-text, var(--text, CanvasText));
    padding-block: 0.75rem;
    padding-inline: 1rem;
    border: var(--blockquote-bd-width, var(--border-width, 1px)) solid var(--blockquote-bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
    border-inline-start-width: var(--blockquote-bd-start-width, 10px);
    background-color: var(--blockquote-bg, var(--background, Canvas));
    
    p {
      margin-block-end: 0.15rem;
    }
    
    :last-child {
      margin-block-end: 0;
    }
  }
  
  :where(details) {
    summary {
      cursor: pointer;
    }
    
    :is([open] summary) {
      margin-block-end: var(--summary-open-mb, 0.75rem);
    }
  }
  
  :where(pre) {
    color: var(--pre-text, var(--text, CanvasText));
    overflow: auto;
    padding: var(--pre-pad, 1rem);
    border: var(--pre-bd-width, var(--border-width, 1px)) solid var(--pre-bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
    background-color: var(--pre-bg, color-mix(in srgb, CanvasText 3%, var(--background, Canvas)));
  }
  
  :where(figure) {
    inline-size: fit-content;
    
    figcaption {
      line-height: 1.3;
      contain: inline-size;
      padding-block-start: var(--fig-caption-top, 0.25em);
    }
  }
  
  :where(hr) {
    border: none;
    border-block-start: var(--hr-width, var(--border-width, 1px)) solid var(--hr-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  }
  
  :where(img, svg, video, audio, iframe, embed, object) {
    display: block;
  }
  
  :where(img, svg) {
    max-inline-size: 100%;
  }
  
  :where(iframe) {
    border: 0;
  }
}
