.dropdown {
  details {
    margin-block-end: 0;
    
    summary {
      list-style-type: "";
      position: relative;
      display: inline-block;
      z-index: 1; 
    }
    
    summary::-webkit-details-marker { 
      display: none;
    }
    
    :is([open] summary) {
      margin-block-end: 0;
    }   
  }
  
  summary:after {
    --svg: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m8 10-4-4h8z'/></svg>");
    display: inline-block;
    content: "";
    block-size: 1em;
    inline-size: 1em;
    vertical-align: -0.115em;
    background-color: var(--dropdown-ico, CanvasText);
    mask: var(--svg) no-repeat;
    margin-inline-start: 0.2rem;
  }

  [open] summary:after {
    --svg: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m8 6 4 4-8 7e-7z'/></svg>");
  } 

  [open]::details-content {
    color: var(--dropdown-text, CanvasText);
    position: absolute;
    inline-size: var(--dropdown-min, fit-content);
    max-inline-size: var(--dropdown-max, 14rem);
    margin-block-start: var(--dropdown-top, 0.25rem);
    border: 1px solid var(--dropdown-bd-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas)));
    border-radius: var(--dropdown-radius, 0.188rem);
    background-color: var(--dropdown-bg, var(--background, Canvas));
    z-index: 2;
  }
  
  .dropdown-links {  
    &:is(ul, li) {
      list-style-type: "";
      margin-block-end: 0;
      padding-inline-start: 0;
    }
    
    *:not(:first-child) {
      border-block-start: 1px solid var(--dropdown-bd-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas)));
    }
    
    *:first-child {
      border-start-start-radius: calc(var(--dropdown-radius, 0.188rem) - 1px);
      border-start-end-radius: calc(var(--dropdown-radius, 0.188rem) - 1px);
    }

    *:last-child {
      border-end-start-radius: calc(var(--dropdown-radius, 0.188rem) - 1px);
      border-end-end-radius: calc(var(--dropdown-radius, 0.188rem) - 1px);
    }    
    
    a {
      text-decoration: none;
      display: block;
      padding-block: var(--dropdown-py, 0.313rem);
      padding-inline: var(--dropdown-px, 0.9rem);
      background-color: var(--dropdown-bg, var(--background, Canvas));
      
      &:is(:hover, :focus) {
        background-color: var(--dropdown-link-hover, color-mix(in srgb, CanvasText 10%, var(--background, Canvas)));
      }
    }  
  }
  
  .dropdown-body {
    padding-block: var(--dropdown-body-py, 1rem);
    padding-inline: var(--dropdown-px, 0.9rem); 
  }
}
