/*! Bitz v0.1 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
.accordion,
[class*=accordion-] {
  color: var(--accordion-text, var(--text, CanvasText));
  margin-block-end: var(--accordion-mb, 1rem);
  border: var(--accordion-bd-width, var(--border-width, 1px)) solid var(--accordion-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  border-radius: var(--accordion-radius, var(--border-radius, 0.188rem));
  background-color: var(--accordion-bg, var(--background, Canvas));
  details {
    margin-block-end: 0;
    :is([open] summary) {
      margin-block-end: 0;
      border-block-end: var(--accordion-bd-width, var(--border-width, 1px)) solid var(--accordion-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
    }
    :last-child {
      margin-block-end: 0;
    }
  }
  :not(:first-child) summary {
    border-block-start: var(--accordion-bd-width, var(--border-width, 1px)) solid var(--accordion-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  }
  summary, [open]::details-content {
    padding-block: var(--accordion-py, 0.5rem);
    padding-inline: var(--accordion-px, 1rem);
  }
}