/*! Bitz v0.1 | Copyright 2025 Phil Brown | MIT License (https://github.com/pmbrown/bitz/) */
.accordion,
[class*=accordion-] {
  color: var(--accordion-text, var(--text, CanvasText));
  margin-block-end: var(--accordion-mb, 1rem);
  border: var(--accordion-bd-width, var(--border-width, 1px)) solid var(--accordion-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  border-radius: var(--accordion-radius, var(--border-radius, 0.188rem));
  background-color: var(--accordion-bg, var(--background, Canvas));
  details {
    margin-block-end: 0;
    :is([open] summary) {
      margin-block-end: 0;
      border-block-end: var(--accordion-bd-width, var(--border-width, 1px)) solid var(--accordion-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
    }
    :last-child {
      margin-block-end: 0;
    }
  }
  :not(:first-child) summary {
    border-block-start: var(--accordion-bd-width, var(--border-width, 1px)) solid var(--accordion-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  }
  summary, [open]::details-content {
    padding-block: var(--accordion-py, 0.5rem);
    padding-inline: var(--accordion-px, 1rem);
  }
}

.alert,
[class*=alert-] {
  color: var(--alert-text, var(--text, CanvasText));
  margin-block-end: var(--alert-mb, 1rem);
  padding-block: var(--alert-py, 0.75rem);
  padding-inline: var(--alert-px, 1rem);
  border: var(--alert-bd-width, var(--border-width, 1px)) solid var(--alert-bd-color, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  border-radius: var(--alert-radius, var(--border-radius, 0.188rem));
  background-color: var(--alert-bg, color-mix(in srgb, CanvasText 4%, var(--background, Canvas)));
  :last-of-type:is(p, ol, ul, dl) {
    margin-block-end: 0;
  }
}

dialog[open]:is(.alert, [class*=alert-]) {
  position: relative;
  inline-size: 100%;
  max-inline-size: 100%;
  margin: initial;
  margin-block-end: var(--alert-mb, 1rem);
  padding-inline-end: 3rem;
  button {
    position: absolute;
    inset-block-start: 0.35rem;
    inset-inline-end: 0.5rem;
  }
  p {
    padding-inline-end: 2.5rem;
  }
}

.badge,
[class*=badge-] {
  color: var(--badge-text, var(--text, CanvasText));
  font-size: var(--badge-fs, 0.65em);
  font-weight: var(--badge-fw, 600);
  text-align: center;
  line-height: 1;
  position: relative;
  inset-block-start: -0.125em;
  display: inline-block;
  vertical-align: baseline;
  padding-block: var(--badge-py, 0.375em);
  padding-inline: var(--badge-px, 0.65em);
  border: var(--badge-bd-width, var(--border-width, 1px)) solid var(--badge-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  border-radius: var(--badge-radius, var(--border-radius, 0.188rem));
  background-color: var(--badge-bg, color-mix(in srgb, CanvasText 4%, var(--background, Canvas)));
}

.badge-outline {
  --badge-bg: var(--background, Canvas);
}

.card, .card-link,
[class*=card-], [class*=card-link-] {
  color: var(--card-text, var(--text, CanvasText));
  max-inline-size: var(--card-width);
  padding-block: var(--card-py, 1rem);
  padding-inline: var(--card-px, 1rem);
  border: var(--card-bd-width, var(--border-width, 1px)) solid var(--card-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  border-radius: var(--card-radius, var(--border-radius, 0.188rem));
  background-color: var(--card-bg, var(--background, Canvas));
  :is(p, ol, ul, dl) {
    margin-block-end: var(--card-text-mb, 0.5rem);
  }
  :is(:last-child) {
    margin-block-end: 0;
  }
  img:not(:last-child) {
    margin-block-end: calc(var(--card-text-mb, 0.5rem) + 0.25rem);
  }
  img:last-child {
    margin-block-start: calc(var(--card-text-mb, 0.5rem) + 0.25rem);
  }
}

.card-link,
[class*=card-link-] {
  position: relative;
  a:after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
  }
  a:focus-visible {
    outline: none;
  }
  &:is(:focus-within, :hover) {
    color: var(--card-text-hover, CanvasText);
    background-color: var(--card-hover, color-mix(in srgb, CanvasText 4%, var(--background, Canvas)));
    cursor: pointer;
    img {
      opacity: 0.85;
    }
  }
  &:focus-within {
    outline: var(--card-focus, 0.188rem) solid var(--card-focus-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas)));
  }
}

[popover], dialog {
  color: var(--modal-text, var(--text, CanvasText));
  block-size: var(--modal-block, fit-content);
  max-block-size: var(--modal-height, calc(100dvh - 2rem));
  inline-size: var(--modal-inline, calc(100% - 6px - 2em));
  max-inline-size: var(--modal-width, fit-content);
  margin: auto;
  margin-block-start: var(--modal-top, 1rem);
  padding-block: var(--modal-py, 1rem);
  padding-inline: var(--modal-px, 1rem);
  border: var(--modal-bd-width, var(--border-width, 1px)) solid var(--modal-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  border-radius: var(--modal-radius, var(--border-radius, 0.188rem));
  background-color: var(--modal-bg, var(--background, Canvas));
  overflow: auto;
  overscroll-behavior: contain;
  :last-child {
    margin-block-end: 0;
  }
  &::backdrop {
    background-color: var(--modal-backdrop, color-mix(in srgb, black 50%, transparent));
  }
  &:is([class*=offcanvas-]) {
    --modal-radius: 0;
    margin: 0;
    border: none;
  }
  &:is(.offcanvas-start, .offcanvas-end) {
    --modal-block: 100%;
    --modal-height: 100dvh;
    --modal-width: 24rem;
  }
  &:is(.offcanvas-top, .offcanvas-bottom) {
    --modal-block: 100%;
    --modal-height: calc(33dvh - 2rem);
    --modal-inline: 100%;
    --modal-width: 100%;
  }
  &:is(.offcanvas-start) {
    margin-inline-end: auto;
    border-inline-end: var(--modal-bd-width, var(--border-width, 1px)) solid var(--modal-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  }
  &:is(.offcanvas-end) {
    margin-inline-start: auto;
    border-inline-start: var(--modal-bd-width, var(--border-width, 1px)) solid var(--modal-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  }
  &:is(.offcanvas-top) {
    margin-block-end: auto;
    border-block-end: var(--modal-bd-width, var(--border-width, 1px)) solid var(--modal-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  }
  &:is(.offcanvas-bottom) {
    margin-block-start: auto;
    border-block-start: var(--modal-bd-width, var(--border-width, 1px)) solid var(--modal-bd, var(--border-color, color-mix(in srgb, CanvasText 20%, var(--background, Canvas))));
  }
}