html {
  --background: light-dark(#eaecee, #1f2428);
  scrollbar-gutter: stable;
}

header {
  position: sticky;
  inset-block-start: 0;
  border-block-end: 1px solid color-mix(in srgb, CanvasText 20%, var(--background));
  background-color: var(--background);
  z-index: 500;
}

nav {
  inline-size: 100%;
  border-block-start: 1px solid color-mix(in srgb, CanvasText 20%, var(--background));
}

[style="color-scheme: light;"] #themes:before {
  content: "Light ";
}

[style="color-scheme: dark;"] #themes:before {
  content: "Dark ";
}

[aria-controls=menu] {
  display: none;
}

h2[id] {
  padding-block-end: 1rem;
  border-block-end: 1px solid color-mix(in srgb, CanvasText 20%, Canvas);
}

.form-demo label {
  display: block;
  margin-block-end: 0.25rem;
}

.form-demo label:not(:first-child) {
  margin-block-start: 0.5rem;
}

.anchor {
  font-size: 85%;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}

.anchor:after {
  content: "#";
}

.anchor:is(:hover, :focus, :hover > .anchor, :target > .anchor) {
  text-decoration: none;
  opacity: 0.5;
}

:target {
  scroll-margin-block-start: 4rem;
}

@media (width <= 768px) {
  [aria-controls=menu] {
    display: revert;
  }
  [aria-controls=menu]:before {
    content: "Open ";
  }
  [aria-controls=menu][aria-expanded=true]:before {
    content: "Close ";
  }
  [aria-controls=menu][aria-expanded=false] + #menu {
    display: none;
  }
  [aria-controls=menu][aria-expanded=true] + #menu {
    display: flex;
  }
}