// Bitz
@use "version";
@use "content";
@use "components";
@use "utilities";
@use "layout" as *;

@include container-classes;
@include columns-classes;
@include display-classes;
@include grid-classes;
@include spacing-classes;

@media (width <= 1440px) {
  @include columns-classes-xl;
  @include display-classes-xl;
  @include grid-classes-xl;
  @include spacing-classes-xl;
}

@media (width <= 1280px) {
  @include columns-classes-lg;
  @include display-classes-lg;
  @include grid-classes-lg;
  @include spacing-classes-lg;
}

@media (width <= 1024px) {
  @include columns-classes-md;
  @include display-classes-md;
  @include grid-classes-md;
  @include spacing-classes-md;
}

@media (width <= 768px) {
  @include columns-classes-sm;
  @include display-classes-sm;
  @include grid-classes-sm;
  @include spacing-classes-sm;
}

@media (width <= 480px) {
  @include columns-classes-xs;
  @include display-classes-xs;
  @include grid-classes-xs;
  @include spacing-classes-xs;
}
