// ---------------------------------------------------------- 
// Columns
// ----------------------------------------------------------
$column-values:   6 !default;

@mixin columns-classes {
  @layer layout {
    .columns {
      columns: var(--cols);
    }
    
    @for $value from 1 through $column-values {
      .columns-#{$value} {
        columns: $value;
      }
    }
  }
}

@mixin columns-classes-xl {
  @layer layout {
    @for $value from 1 through $column-values {
      .columns-#{$value}-xl {
        columns: $value;
      }
    }
  }
}

@mixin columns-classes-lg {
  @layer layout {
    @for $value from 1 through $column-values {
      .columns-#{$value}-lg {
        columns: $value;
      }
    }
  }
}

@mixin columns-classes-md {
  @layer layout {
    @for $value from 1 through $column-values {
      .columns-#{$value}-md {
        columns: $value;
      }
    }
  }
}

@mixin columns-classes-sm {
  @layer layout {
    @for $value from 1 through $column-values {
      .columns-#{$value}-sm {
        columns: $value;
      }
    }
  }
}

@mixin columns-classes-xs {
  @layer layout {
    @for $value from 1 through $column-values {
      .columns-#{$value}-xs {
        columns: $value;
      }
    }
  }
}
