.container,
[class*=container-] {
  inline-size: 100%;
  max-inline-size: var(--width);
  margin-inline: var(--mx, auto);
  padding-inline: var(--px);
}

.container-xl {
  --width: 1440px;
}

.container-lg {
  --width: 1280px;
}

.container-md {
  --width: 1024px;
}

.container-sm {
  --width: 768px;
}

.container-xs {
  --width: 480px;
}

.container-rem-xl {
  --width: 100rem;
}

.container-rem-lg {
  --width: 80rem;
}

.container-rem-md {
  --width: 64rem;
}

.container-rem-sm {
  --width: 48rem;
}

.container-rem-xs {
  --width: 30rem;
}
