// ---------------------------------------------------------- 
// Grid
// ----------------------------------------------------------
$grid-fraction-columns:   12 !default;
$grid-auto-columns:       12 !default;

$grid-wrapper: (
  "display": grid,
  "grid-template-columns": var(--gtc),
  "grid-template-rows": var(--gtr),
) !default;

@mixin grid-classes {
  :where(html) {
    @for $value from 1 through $grid-fraction-columns {
      --g-#{$value}: repeat(#{$value}, minmax(0, 1fr));
    }
    
    @for $value from 1 through $grid-auto-columns {
      --ga-#{$value}: repeat(#{$value}, minmax(0, auto));
    }
  }
  
  .grid {
    @each $name, $value in $grid-wrapper {
      #{$name}: #{$value};
    }
  }
  
  @for $value from 1 through $grid-fraction-columns {
    .g-#{$value} {
      --gtc: var(--g-#{$value});
    }
  }
  
  @for $value from 1 through $grid-auto-columns {
    .ga-#{$value} {
      --gtc: var(--ga-#{$value});
    }
  }
}

@mixin grid-classes-xl {
  .grid-xl {
    @each $name, $value in $grid-wrapper {
      #{$name}: #{$value};
    }
  }

  @for $value from 1 through $grid-fraction-columns {
    .g-#{$value}-xl {
      --gtc: var(--g-#{$value});
    }
  }
  
  @for $value from 1 through $grid-auto-columns {
    .ga-#{$value}-xl {
      --gtc: var(--ga-#{$value});
    }
  }
}

@mixin grid-classes-lg {
  .grid-lg {
    @each $name, $value in $grid-wrapper {
      #{$name}: #{$value};
    }
  }

  @for $value from 1 through $grid-fraction-columns {
    .g-#{$value}-lg {
      --gtc: var(--g-#{$value});
    }
  }
  
  @for $value from 1 through $grid-auto-columns {
    .ga-#{$value}-lg {
      --gtc: var(--ga-#{$value});
    }
  }
}

@mixin grid-classes-md {
  .grid-md {
    @each $name, $value in $grid-wrapper {
      #{$name}: #{$value};
    }
  }

  @for $value from 1 through $grid-fraction-columns {
    .g-#{$value}-md {
      --gtc: var(--g-#{$value});
    }
  }
  
  @for $value from 1 through $grid-auto-columns {
    .ga-#{$value}-md {
      --gtc: var(--ga-#{$value});
    }
  }
}

@mixin grid-classes-sm {
  .grid-sm {
    @each $name, $value in $grid-wrapper {
      #{$name}: #{$value};
    }
  }

  @for $value from 1 through $grid-fraction-columns {
    .g-#{$value}-sm {
      --gtc: var(--g-#{$value});
    }
  }
  
  @for $value from 1 through $grid-auto-columns {
    .ga-#{$value}-sm {
      --gtc: var(--ga-#{$value});
    }
  }
}

@mixin grid-classes-xs {
  .grid-xs {
    @each $name, $value in $grid-wrapper {
      #{$name}: #{$value};
    }
  }

  @for $value from 1 through $grid-fraction-columns {
    .g-#{$value}-xs {
      --gtc: var(--g-#{$value});
    }
  }
  
  @for $value from 1 through $grid-auto-columns {
    .ga-#{$value}-xs {
      --gtc: var(--ga-#{$value});
    }
  }
}
